/* css variables for colors */
:root {
	--color-page:       #e0e0e0;
	--color-text:       black;
	--color-link:       blue;
	--color-link-seen:  darkblue;
	--color-border:     #ccc;

	--color-black:      black;
	--color-white:      #F5F5F5;
	--color-blue:       #552681;
}

/* dark mode colors */
@media screen and (prefers-color-scheme: dark) {
    :root {
	--color-page:       #303030;
	--color-text:       #e0e0e0;
	--color-link:       #90d0e0;
	--color-link-seen:  #90d0ff;
	--color-border:     #666;

	--color-black:	    #e0e0e0;
	--color-white:      #202020;
	--color-blue:       #aa88ee;
    }
}

body {
	/* colors */
	color:		var(--color-text);
	background:	var(--color-page);

	/* no extra long lines please */
	max-width: 100ch;

	/* center text */
	margin: 0px auto;

	/* beautify a bit */
	padding: 2ex 2em;
	border: 2pt solid var(--color-border);
}

a {
	color: var(--color-link);
	text-decoration: underline;
}

a:visited {
	color: var(--color-link-seen);
}
